p.highlight{
    background-color: yellow;
}

h1,h2,h3,h4,h5,h6{
    color: red;
}

p{
    font-size: 14px;
}

div.special p{
    font-size: 16px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: blue;
}

div.special{
    border: 5px;
    border-style: dotted;
    padding: 10px;
    margin: 5px 3px 10px 3px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    background-color:rgb(0, 94, 255);
    color: whitesmoke;
    padding: 1rem;
}
aside{
    background-color:rgb(184, 78, 166);
    color: whitesmoke;
    padding: 1rem;
    flex-basis: 25%;
}
main{
    background-color:rgb(216, 164, 59);
    color: whitesmoke;
    padding: 1rem;
    flex-grow: 1;
}

.image{
    float: left;
}